<div class="card">
    <div class="thumbnail"><a href="{{ include.url | relative_url }}" target="_self">
        <video autoplay="true" muted="true" loop="true" height="100%" width="100%" lang="pt" alt="{{ include.alt | escape }}">
            <source src="{{ site.baseurl }}/img/{{ include.content1 }}"
                    type="video/webm">
        </video>
        </a>
    </div>
    <h2>
        <a href="{{ include.url | relative_url}}">
            {{ include.title | escape }}
        </a>
    </h2>
    <p>{{ include.sumup | escape }}</p>
</div>