<div class="card">
    <div class="thumbnail"><a href="{{ page.url | relative_url }}" target="_self">
        <video autoplay="true" muted="true" loop="true" height="100%" width="100%" lang="pt" alt="Interplanetário App">
            <source src="{{ site.baseurl }}/img/{{ include.content1 }}"
                    type="video/webm">
        </video>
        </a>
    </div>
    <h2>
        <a href="{{ page.url | relative_url }}">
            {{ page.title | escape }}
        </a>
    </h2>
    <p>{{ page.sumup | escape }}</p>
</div>