<footer>
  <p>©Copyright {{ site.author.name }} {{ site.time | date: '%Y' }}</p>
  <ul>
      <li><a href="https://www.behance.net/3a_fernandes" target="_blank"><img width="50px" title="Teresa on Behance" alt="Behance Icon" src="icons/behance.svg"></a></li>
      <li><a href="https://www.linkedin.com/in/3a-fernandes/" target="_blank"><img width="50px" title="Teresa on Linkedin" alt="Linkedin Icon" src="icons/linkedin.svg"></a></li>
      <li><a href="mailto:contact.tfernandes@gmail.com"><img width="50px" title="Send an Email!" alt="Email Icon" src="icons/email.svg"></a></li>
  </ul>
</footer>
