<header>
  <nav>
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
      <a class="logo" rel="author" href="{{ "/" | relative_url }}">
        <h1>{{ site.author.title | escape }}</h1></a> <!--isto é o logotipo -->

      {%- if titles_size > 0 -%}
        <div id="myLinks">

          <ul>
            {%- for path in page_paths limit: 3-%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
              <li>
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape | upcase}}</a> <!--- isto são os links da nav --->
              </li>
              
              {%- endif -%}
            {%- endfor -%}
              <li>
              <a href="{{ site.baseurl }}/docs/CV.pdf" target="_blank">
                <span title="Resume">
                  <svg alt="Resume Icon" id="icon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 32 32"><defs><style>.cls-1{fill:none;}</style></defs><title>Resume</title><path d="M25.7,9.3l-7-7A.9078.9078,0,0,0,18,2H8A2.0059,2.0059,0,0,0,6,4V28a2.0059,2.0059,0,0,0,2,2H24a2.0059,2.0059,0,0,0,2-2V10A.9078.9078,0,0,0,25.7,9.3ZM18,4.4,23.6,10H18ZM24,28H8V4h8v6a2.0059,2.0059,0,0,0,2,2h6Z"/><rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/></svg>
                </span></a>
              </li>
            </ul>
        </div>
      {%- endif -%}

                 <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
                 <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <img class="menu-icon" src=" {{ site.baseurl }}/icons/icone-menu.png" alt="Icon Menu" height="50px">
              </a>
              </a>
  </nav>
</header>

<script>

  const nav = document.querySelector("nav");
  const text = document.querySelector(".scrolltext");
  const container = document.querySelector("#scrollCont");

  /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
  function myFunction() {
    var menu = document.getElementById("myLinks");
  
    if (menu.style.display === "block") {
      menu.style.display = "none";
  
    } else {
      menu.style.display = "block";
    }
  }


// Navbar opaque on scroll
  window.addEventListener("scroll", () => {
    if (window.scrollY !== 0) {
      nav.classList.add("opaque");
    } else {
      nav.classList.remove("opaque");
    }

  if (window.scrollY > container.getBoundingClientRect().top) {
    console.log("container: ", container.getBoundingClientRect().top);
    text.style.transform = `translateX(window.innerWidth - ${window.scrollY - container.getBoundingClientRect().top}px)`;
   }
  });

  </script>





  

