<div class="post-parag">
    <h3 class="title">The challenge</h3>
    <p>{{ challenge }}</p>
</div>

<div class="post-parag">
    <h3 class="title">The process</h3>

    <h4>Major insights</h4>
    <p class="intro">{{ page.mj1 }} <br> {{ page.mj2 }} <br> {{ page.mj3 }}</p>
    
    <div class="post-process">
        <p>{{ ins }}</p>
        <img class="post-proc" src="{{ site.baseurl }}/img/{{ page.img-proc }}" width="100px"> 
    </div>
</div>

<div class="post-parag">
    <h3 class="title">The result</h3>
    <p>{{ result }}</p>
</div>

<img class="post-result" src="{{ site.baseurl }}/img/{{ page.img-res }}">

