/* ------ NAVIGATION ------ */

header {
    height: 15vh;
    width: 100%; 
    top: 0;
    position: sticky;
    z-index: 1;
  }
  
  /* Style the navigation menu */
  nav {
    position: relative;
    height: 100%;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  /* Style Menu Div (hidden as default)*/
  #myLinks {
    display: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: rgba(var(--purples), 0.9);
    z-index: 0;
  }
  
  
  /* Style the hamburger menu */
  nav a.icon {
    position: absolute;
    display: block;
    height: 40px;
    right: var(--margin-nav);
    top: 50%;
    -webkit-transform: translatey(-50%);
        -ms-transform: translatey(-50%);
            transform: translatey(-50%);
  }
  
  /* Style navigation links (inside and outside menu) */
  nav a {
    color: var(--white);
    text-decoration: none;
    display: block;
  }
  
  /* Style only Links inside the menu */
  nav ul li a {
    padding: 14px 30px;
    font-size: 1.6rem;
    text-decoration: none;
    border-bottom: 3px dashed transparent;
  }
  
  nav ul li a:hover {
      border-bottom: 3px dashed var(--white);
    //   background-color: var(--pink);
    //   border-radius: 5px;
      background-clip: padding-box;
      transition: border-bottom 0.5s;
    // background-position: 0% 100%;
  }
  
  nav a.logo {
    position: absolute;
    top: 50%;
    left: var(--margin-nav);
    -webkit-transform: translatey(-50%);
        -ms-transform: translatey(-50%);
            transform: translatey(-50%);
    z-index: 2;
  }
  
  /* Center ul inside the div */
  nav ul {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 0;
  }
  
  /* Style list items */
  nav ul li {
    list-style-type: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
  }
  
  .cv-icon {
    display: inline;
  }
  

/* TABLET ................................ */
@media only screen and (min-width: 560px) {
  
  header {
      height: 11vh;
  }

  nav a.logo {
      padding-left: calc(1 * var(--padd-main-h));
  }

  nav a.icon {
      padding-right: calc(1 * var(--padd-main-h));
  }


  #myLinks {
      width: 50vw;
      right: 0;
  }

}


/* DESKTOP ................................ */
@media only screen and (min-width: 1200px) {

  header {
      height: 15vh;
  }

  nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0 calc(2*var(--margin-nav));
  }

  nav a.logo {
      left: auto;
      padding-left: 0;
  }

  /* Put menu on navbar (top)*/
  #myLinks {
      width: 100vw;
      position: relative;
      height: auto;
      display: block;
      right: 0;
      padding: 0;
      top: 0;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      background-color: rgba(0, 0, 0, 0);
      z-index: 0;
  }

  nav ul {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      top: 50%;
      left: auto;
      right: 0;
      -webkit-transform: translatey(-50%);
          -ms-transform: translatey(-50%);
              transform: translatey(-50%);
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0;
  }
  
  /* Style only Links inside the menu*/
  nav ul li a {
      font-size: 1.2rem;
  }

  /* Remove right padding from last li in the nav*/
  nav ul > li:last-child a {
      padding-right: 0;
  }

  .menu-icon {
    display: none;
  }
}