// Placeholder to allow overriding predefined variables smoothly.

// ESTAVA A TENTAR ADICIONAR AS MINHAS VARIÁVEIS MAS ELE NÃO AS RECONHECE A MENOS QUE PONHA NO "_BASE.SCSS"

$purple: rgb(79, 28, 223);
$purples: 79, 28, 223;
$blue: rgb(23, 150, 235);
$pink: rgb(205, 57, 245);
$black: rgb(38, 30, 46);
$white: rgb(255, 255, 255);
$grey: rgb(205, 197, 226);
$margin-nav: 40px;
$padd-main-h: 20px;
$padd-main-v: 60px;