---
layout: default
---

<style type="text/css" media="screen">
    .div404 {
      max-width: 100vw;
      height: max-content;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 3fr 1fr;
      margin: 0 0 var(--padd-main-v) 0;
      row-gap: var(--padd-main-h);
    }
    h1 {
      margin: 30px 0;
      font-size: 4em;
      line-height: 1;
      letter-spacing: -1px;
    }
  </style>


  <div id="background" class="about">
    <div class="about-container">
        <h3>My Process</h3>
        <div class="back-info-container">
            <div class="back-info">
                <h4>2017-2020</h4>
                <h5>Communication Design</h5>
                <h6>Faculty of Fine Arts, Lisbon University</h6>
                <p>Development of creative practices, research methods and critical design encompassing areas such as graphic design, information design, interaction, editorial, identity, audiovisuals, etc.</p>
            </div>

            <div class="back-info">
                <h4>2020-2021</h4>
                <h5>Digital Experience Design</h5>
                <h6>Faculty of Fine Arts, Lisbon University</h6>
                <p>User centered design and research, interaction design, user interface design, front‑end development, digital marketing, design strategy, design management and entrepreneurship.</p>
            </div>
        </div>
    </div>
  </div>