---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="headline">
    <p class="intro slide"> Product Designer > Based in Portugal </p>
  </div>
  

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
  


  {%- if posts.size > 0 -%} <!-- se houver mais do que 0 posts na pasta posts -->
    {%- if page.list_title -%} <!-- se a página tiver uma título (?)-->
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <div id="work" class="work">
      <div class="col1">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts limit:2 -%}
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}

        {%- endfor -%}
      </div>


      <div class="col2">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts offset:2 limit:2 -%}
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
        {%- endfor -%}
      </div>

      <div class="col3">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts offset:4 limit:2 -%}
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
    

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

  <div id="about" class="about">
      <div class="about-container">
          <h3>About Me</h3>
          <p class="big">More than just a designer, I'm a curious individual intrigued by people, how they work, and what makes them tick. </p>
          <p>I approach the design process with a learning mindset, seeking to challenge our assumptions and better understand users' needs in order to create robust, meaningful experiences.</p>
      </div>
  </div>

  <div id="scrollCont" class="skills intro" style="overflow: visible;">
    <ul class="scrolltext">
        <li>UX design </li>
        <li>UI design</li>
        <li>UX Research</li>
        <li>wireframing</li>
        <li>prototyping</li>
    </ul>
  </div>


  <div id="about" class="about">
    <div class="about-container">
      <h3>my process</h3>
    </div>
  </div>
</div>


</div>

<script>
  
  const nav = document.querySelector("nav");
  const text = document.querySelector(".scrolltext");
  const container = document.querySelector("#scrollCont");

  window.addEventListener("scroll", () => {
    if (window.scrollY !== 0) {
      nav.classList.add("opaque");
    } else {
      nav.classList.remove("opaque");
    }

  if (window.scrollY > container.getBoundingClientRect().top) {
    console.log("container: ", container.getBoundingClientRect().top);
    text.style.transform = `translateX(-${
      window.scrollY - container.getBoundingClientRect().bottom
    }px)`;
   }
  });
</script>