---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="headline">
    <h5 class="intro slide"> Product Designer > Based in Portugal </h5>
  </div>
  

  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}
  


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h5 class="post-list-heading">{{ page.list_title }}</h5>
    {%- endif -%}
    <div id="work" class="work">

  
      <div class="col1">
        {%- for post in posts limit:2 -%}
              {%- include card.html content1=post.img-card url=post.url title=post.title sumup=post.sumup -%}
        {%- endfor -%}
      </div>


      <div class="col2">
        {%- for post in posts offset: 2 limit:2 -%}
              {%- include card.html content1=post.img-card url=post.url title=post.title sumup=post.sumup -%}
        {%- endfor -%}
      </div>

      <div class="col3">
        {%- for post in posts offset: 4 limit:2 -%}
              {%- include card.html content1=post.img-card url=post.url title=post.title sumup=post.sumup -%}
        {%- endfor -%}
      </div>
    </div>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

  <div id="about" class="about">
      <div class="about-container homepage">
          <h5 class="title">About Me</h5>
          <p class="big">More than just a designer, I'm a curious individual intrigued by people, how they work, and what makes them tick. </p>
          <p class="small">I approach the design process with a learning mindset, seeking to challenge our assumptions and better understand users' needs in order to create robust, meaningful experiences.</p>
      </div>
  </div>

  <div id="scrollCont" class="skills intro" style="overflow: hidden;">
    <ul class="scrolltext">
      {%- for skill in site.data.skills -%}
        <li> {{ skill.name }} </li>
      {%- endfor -%}
    </ul>
  </div>


  <div class="approach">
    <div class="about-container">
      <div>
        <h5 class="title">my approach</h5>
      </div>
      
        <div>
          {% for step in site.steps %}
            <h5 class="subtitle">{{ step.title }}</h5>
            <p class="small">{{step.content}}</p>
          {% endfor %}
        </div>
      </div>
  </div>
</div>



</div>

<script>
  
  const nav = document.querySelector("nav");
  const text = document.querySelector(".scrolltext");
  const container = document.querySelector("#scrollCont");

  window.addEventListener("scroll", () => {
    if (window.scrollY !== 0) {
      nav.classList.add("opaque");
    } else {
      nav.classList.remove("opaque");
    }

  if (window.scrollY > container.getBoundingClientRect().top) {
    console.log("container: ", container.getBoundingClientRect().top);
    text.style.transform = `translateX(window.innerWidth - ${window.scrollY - container.getBoundingClientRect().top}px)`;
   }
  });
</script>