---
layout: default
---
<article>

  <div class="post-header">
    <h1 class="bread"><a href="{{ site.baseurl }}/work/">work</a> > {{ page.title }}</h1>
    <div class="overview">
      <h2 class="tagline">{{ page.tagline | escape }}</h2>
      <div class="role">
        <h3>My Role
          <br> <strong>{{ page.role | escape | upcase }}</strong></h3>
      </div>
    </div>
  </div>

  <img class="post-thumb" src="{{ site.baseurl }}/img/{{ page.img-thumb }}">
  

  <div class="post-cont">
    {{ content }}
  </div>

  <div class="post-cont more">
    <a href="{{ page.link-ext }}" target="_blank"><p class="btn-secondary">Full case study</p></a>

    <div class="more">
      <p class="about-header intro">Want to see more?</p>
      <a href="{{ site.baseurl}}/work/"><p class="btn-primary">Discover my work</p></a>
    </div>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
